.article,
input,
button {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  .title {
    font-weight: bold;
  }
  .reading_count {
    font-style: italic;
  }