<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <% if(id) { %>
        Details of <%= users[id].name %>
      <%} else { %>
          <h3> User List:</h3>
          <% users.forEach(user => { %>
              <p>- <%=user.name%> </p>
       <% })  %>
    <% } %>
</body>
</html>