* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .container {
  display: flex;
  flex-direction: row;
}
header .heading {
  float: left;
}
header .heading h1 {
  font-size: 36px;
  font-weight: 900;
  font-family: "PT Serif", serif;
}
header .team-heading {
  float: right;
}
header .team-heading h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
header .team-heading p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.section {
  box-sizing: border-box;
}
.section .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: normal;
  margin: 0px 30px 0px 50px;
}
.section .container .container-images {
  margin: 0px 30px 20px 30px;
}
.section .container .container-images .images span {
  writing-mode: vertical-lr;
  vertical-align: top;
}

.footer {
  background-color: black;
  color: blanchedalmond;
  border: 1px solid transparent;
  margin-top: 60px;
}
.footer .name {
  margin-left: 10px;
}
.footer .name p {
  padding: 10px 10px 10px 10px;
}

img {
  border-radius: 8px;
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .header {
    margin: 100px 10%;
    max-width: 992px;
    box-sizing: border-box;
  }
  .header .container {
    display: flex;
    flex-direction: column;
  }
  .header .container .heading {
    margin: 20px 0px 40px 0px;
  }
  .header .container .team-heading {
    margin: 20px auto 40px 0px;
  }
}
@media (min-width: 992px) {
  .header {
    margin: 100px 10px 100px 10%;
    max-width: 992px;
    box-sizing: border-box;
  }
  .header .container .heading {
    display: block;
    padding: 20px 50px 40px 0px;
  }
  .header .container .heading h1 {
    width: 400px;
  }
  .header .container .team-heading {
    display: block;
    margin: 20px auto 40px auto;
  }
}
@media (min-width: 992px) {
  .section .container .container-images {
    flex-grow: 1;
    width: 300px;
  }
  .section .container .container-images .images {
    display: block;
    position: relative;
  }
  .section .container .container-images .images img {
    height: 355px;
    width: 250px;
  }

  .alignn:nth-child(2),
.alignn:nth-child(4),
.alignn:nth-child(6) {
    position: relative;
    top: 75px;
  }

  .alignn:nth-child(3),
.alignn:nth-child(5) {
    position: relative;
    top: 0px;
  }
}
@media (min-width: 1160px) {
  .section .container .container-images {
    flex-grow: 1;
    width: 300px;
  }
  .section .container .container-images .images {
    display: block;
    position: relative;
  }
  .section .container .container-images .images img {
    height: 355px;
    width: 250px;
  }

  .alignn:nth-child(1),
.alignn:nth-child(3),
.alignn:nth-child(4),
.alignn:nth-child(6) {
    position: relative;
    top: 0px;
  }

  .alignn:nth-child(2),
.alignn:nth-child(5) {
    position: relative;
    top: 75px;
  }
}
@media (min-width: 1520px) {
  .section .container .container-images {
    flex-grow: 1;
    width: 300px;
  }
  .section .container .container-images .images {
    display: block;
    position: relative;
  }
  .section .container .container-images .images img {
    height: 355px;
    width: 250px;
  }

  .alignn:nth-child(2),
.alignn:nth-child(4),
.alignn:nth-child(6) {
    position: relative;
    top: 75px;
  }

  .alignn:nth-child(1),
.alignn:nth-child(3),
.alignn:nth-child(5) {
    position: relative;
    top: 0px;
  }
}
@media (max-width: 992px) {
  .section .container .container-images {
    flex-grow: 1;
    width: 300px;
    height: auto;
  }
  .section .container .container-images .images {
    display: block;
    position: relative;
  }
  .section .container .container-images .images img {
    height: auto;
    width: 70%;
  }

  .alignn:nth-child(2),
.alignn:nth-child(4),
.alignn:nth-child(6) {
    position: relative;
    top: 75px;
  }

  .alignn:nth-child(3),
.alignn:nth-child(5) {
    position: relative;
    top: 0px;
  }
}
@media (max-width: 799px) {
  .section .container .container-images {
    flex-grow: 1;
    width: 300px;
    height: auto;
  }
  .section .container .container-images .images {
    display: block;
    position: relative;
  }
  .section .container .container-images .images img {
    height: auto;
    width: 70%;
  }

  .alignn:nth-child(2),
.alignn:nth-child(4),
.alignn:nth-child(6) {
    position: relative;
    top: 0px;
  }

  .alignn:nth-child(3),
.alignn:nth-child(5) {
    position: relative;
    top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
