{% extends 'fscohort/base.html' %}

{% block title %}
    Student List
{% endblock title %}

{% block content %}
    <ul>
        {% for  student in students %}
        <!-- <li>{{ student.number }} - {{ student }} {{ student.last_name }}</li> -->
        <a href="{% url 'detail' student.id %}">
            <li> {{ student }} </li>
        </a>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}"><button>Homepage</button></a>
    <a href="{% url 'add' %}"><button>Add Student</button></a>
{% endblock content %}
    